*, ::after, ::before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto Mono', monospace;
}
a {
    text-decoration: none;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}
button, [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.flex-row{
    flex-direction: row !important;
}

html, body{
    position: relative;
    height: 100%;
    margin: 0;
    background: #171717;
    color: #fff;
}

/* sections */
section{
    position: relative;
    min-height: 100%;
}


/* container */
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

/* particles */
#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.navigation>.container,
.navigation>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* nav */
.navigation{
    position: fixed;
    top: 0;
    padding-top: 15px;
    width: 100%;
    z-index: 999999;
    transition: all linear .3s;
    padding-top: 10px;
    background: transparent;
}

.navigation-collapse{
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    align-items: center;
    height: 60px;
}
@media(max-width: 992px){
    .navigation .container{
        height: 55px;
    }
    .navigation-collapse{
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease;
        top: 65px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        z-index: 10;
        position: absolute;
        max-width: 720px;
    }

    .navigation-collapse.open{
        opacity: 1;
        visibility: visible;
    }
    .navigation-collapse>ul{
        background: #505050;
        flex-direction: column;
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        transition: .3s;
    }
    .navigation-collapse>ul>li{
        margin: 5px 0;
    }
}

.nav-bg{
    background: #363636;
    padding: 8px 0;
}

.nav-bg .logo {
    color: #fff;
    font-size: 26px;
    transition: all linear .3s;
}
.nav-bg .logo .ponto{
    transition: all linear .4s;
    color: #34bbff;
}

.nav-bg .logo::after {
    height: 92px !important;
    background: none;
}

.nav-button {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
}

.nav-button-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%
}

.navigation-nav {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-left: auto;
}

.nav-link{
    color: #fff;
    font-size: 16px;
    transition: all linear .3s;
    position: relative;
    margin: 9px;
    font-weight: 700;
}

.nav-link:hover,
.nav-link.active {
    color: #34bbff;
}

.nav-link a{
    font-size: 20px;
    transition: all linear .3s;
    position: relative;
    margin: 9px;
}


@media (min-width: 992px){
    .nav-button {
        display: none;
    }
}

.icon-bar{
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
}




/*  */
/*  */
/*  */
/* Icon 1 */

.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.animated-icon span {
    background: #e3f2fd;
}
.animated-icon span:nth-child(1) {
    top: 0px;
}
.animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
    top: 10px;
}
.animated-icon span:nth-child(4) {
    top: 20px;
}
.animated-icon.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}
.animated-icon.open span:nth-child(2) {
    transform: rotate(45deg);
}
.animated-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
}
.animated-icon.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}




/* logo */
.logo{
    color: #fff;
    font-size: 26px;
    transition: all linear .3s;
    position: relative;
    z-index: 1;
    letter-spacing: -2px;
}
.logo>b{
    vertical-align: middle;
}
.logo::after {
    position: absolute;
    content: '';
    top: -30px;
    background: #34bbff;
    width: 100px;
    height: 100px;
    left: -4px;
    z-index: -1;
    transition: all linear .3s;
}


/* home */
.home-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5.5vw;
    color: #fff;
    user-select: none;
}
@media (max-width: 992px){
    .home-title{
        font-size: 6vw;
    }
}
.home-title::before{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 0;
    background: #red;
    animation: bigger-title 2s 1s;
    animation-fill-mode: forwards;
}

.home-title > span{
    color: #34bbff;
}



/* about-me */
.profile{
    display: flex;
    background: #0d0c0d;
    justify-content: center;
    align-items: center;
}

.profile > .container{
    display: flex;
    max-width: 66.6667%;
}

@media (max-width: 992px) {
    .profile > .container{
        display: initial;
        padding: 40px 0 40px 0;
    }
}

@media (max-width: 568px) {
    .profile > .container{
        max-width: 85% !important;
    }
}

.about-profile{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 60px;
    min-width: 70%!important;
}
@media (max-width: 992px) {
    .about-profile{
        padding: 40px 0;
    }
}
@media (max-width: 578px) {
    .about-profile{
        padding: 0 20px 20px;
    }
}

.title-profile{
    text-align: left;
    text-transform: uppercase;
}
.text-profile{
    text-align: justify;
    line-height: 1.3em;
    font-weight: 300;
    margin: 10px 0;
}
.text-gray{
    color: #a1a1a1;
}

.photo{
    width: auto;
    max-width: 100%;
    height: auto;
}

.photo-description{
    background: #363636;
    text-align: center;
    padding: 15px;
    margin-top: -5px;
    text-transform: uppercase;
}
.photo-description > span{
    letter-spacing: .125rem;
    color: #fff;
}
.img-profile{
    user-select: none;
}

@media(max-width: 768px){
    .img-profile{
        display: none;
    }
}


/* habilidades */
.skills{
    display: flex;
    background: #161616;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-title{
  font-size: 38px;
  padding: 10px 0;
  text-align: center;
  user-select: none;
}


/* projetos */
.projects{
  display: flex;
  background: #0d0c0d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects > .container{
  padding-top: 40px;
  display: flex;
}

.project-title{
    font-size: 38px;
    padding: 10px 0;
    text-align: center;
    user-select: none;
}

.cards{
    width: 100%;
}
.cards .card{
  width: calc(100% / 3 - 20px);
}

.card{
    position: relative;
    display: block;
    float: left;
    background: #363636;
    color: #077177;
    margin: 10px 10px;
    height: 200px;
    overflow: hidden;
    transition: .2s;
    perspective: 1000px;
}
@media screen and (max-width: 768px) {
    .container .card{
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 576px) {
    .container .card{
        width: calc(100% - 20px);
    }
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #363636;
  color: #cecece;
}

.card-back {
  transform: rotateY(180deg);
}

.card-front-text{
    margin-top: 10px;
}




/* form */
#gform{
    padding-top: 50px;
}
@media (max-width: 668px) {
    #gform{
        padding-top: 10px;
    }
}

.form{
    flex-direction: column;
    min-height: calc(100% - 40px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* height: calc(100% - 40px) !important; */
}

.form-title{
    font-size: 38px;
    padding: 10px 0;
    text-align: center;
    user-select: none;
}
.form-subtitle{
    user-select: none;
}

@media (max-width: 435px) {
    .form-title{
        font-size: 26px;
        padding: 10px 0;
    }
}

.form > .container{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
@media (max-width: 568px) {
    .form > .container{
        max-width: 85%;
    }
}

.form-div{
    align-items: center;
    justify-content: space-between;
}

.form-g{
    width: 49%;
    margin-bottom: 1em;
}
@media (max-width: 668px) {
    .form-g{
        width: 100%;
    }
}

.form-ta{
    width: 100%;
    margin-bottom: 1em;
}

.form-control.error{
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="%23dc3545" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.textarea-control.error{
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}

.form-control.valid{
    border-color: #28a745;
    padding-right: calc(1.5em + .75rem);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%2328a745" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.textarea-control.valid{
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}

.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#honeypot{
    display: none;
}

.btn-submit{
    display: inline-block;
    font-weight: 400;
    color: #1d1e20;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #34bbff;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus{
    background: #1592d2;
}

#mensage{
    height: 100px;
}

.alert-container{
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: rgba(0,0,0,.4);
}

.alert-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 28em;
    max-width: 100%;
    padding: 1.25em;
    background: #fff;
    box-shadow: 3px 3px 6px rgba(0,0,0,.16);
}

.alert-icon{
    box-sizing: content-box;
    width: 5em;
    height: 5em;
    margin: 1.25em auto 1.575em;
}
.alert-check{
    fill: #a5dc86;
}
.alert-title{
    position: relative;
    margin: 0 0 .4em;
    color: #595959;
    font-size: 1.875em;
    font-weight: 600;
    word-wrap: break-word;
}
.alert-text{
    color: #595959;
}

.alert-button{
    margin-top: 20px;
    border: 0;
    background: #3085d6;
    color: #fff;
    font-size: 1em;
    padding: 10px 25px;
}






.scrollup{
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 40px solid #34bbff ;

    position: fixed;
    bottom: 50px;
    right: 25px;
    display: none;
    text-indent: -9999px;
    background-color: transparent;
    transition: .2s;
}
.scrollup:hover,
.scrollup:active,
.scrollup:focus{
    border-bottom: 40px solid #1592d2;
}
@media(max-width: 568px){
    .scrollup{
        right: 5px;
    }
}

/* footer */
.footer{
    background: #34bbff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-list li + li{
    margin-left: 10px;
}

.footer > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.icon-footer > svg{
    width: 30px;
    color: #2e3138;
    transition: 0.2s;
}
.icon-footer > svg:hover{
    color: #1d1e20;
}
